<div class="flex justify-between items-center mb-4">
  <h1 class="font-bold text-4xl">Users</h1>
  <%= link_to "Download User's CSV", users_path(format: :csv), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  <%= link_to "New User", new_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs uppercase bg-gray-50 dark:bg-blue-700 text-white">
      <tr>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          First Name
        </th>
        <th scope="col" class="px-6 py-3">
          Last Name
        </th>
        <th scope="col" class="px-6 py-3">
          Address
        </th>
        <th scope="col" class="px-6 py-3">
          Phone Number
        </th>
        <th scope="col" class="px-6 py-3">
          Actions
        </th>
      </tr>
    </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="bg-white border-b">
            <td class="px-6 py-4">
              <%= user.email %>
            </td>
            <td class="px-6 py-4">
              <%= user.first_name %>
            </td>
            <td class="px-6 py-4">
              <%= user.last_name %>
            </td>
            <td class="px-6 py-4">
              <%= user.address %>
            </td>
            <td class="px-6 py-4">
              <%= user.phone_number %>
            </td>
            <td class="px-6 py-4">
              <%= link_to "view", user, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
