<div id="<%= dom_id property %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= property.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Advance amount:</strong>
    <%= property.advance_amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rent amount:</strong>
    <%= property.rent_amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= property.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Owner:</strong>
    <%= property.owner.full_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this property", property, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this property", edit_property_path(property), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
