<div class="flex justify-between items-center mb-4">
  <h1 class="font-bold text-4xl">Payments</h1>
  <%= link_to "Download Payments CSV", payments_path(format: :csv), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  <%= link_to "New Payment", new_payment_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs uppercase bg-gray-50 dark:bg-blue-700 text-white">
      <tr>
        <th scope="col" class="px-6 py-3">
          Property
        </th>
        <th scope="col" class="px-6 py-3">
          Payment Date
        </th>
        <th scope="col" class="px-6 py-3">
          Payment Date
        </th>
        <th scope="col" class="px-6 py-3">
          Payment Method
        </th>
        <th scope="col" class="px-6 py-3">
          Month
        </th>
        <th scope="col" class="px-6 py-3">
          Year
        </th>
        <th scope="col" class="px-6 py-3">
          Actions
        </th>
      </tr>
    </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr class="bg-white border-b">
            <td class="px-6 py-4">
              <%= payment.lease.property.address %>
            </td>
            <td class="px-6 py-4">
              <%= payment.date.strftime('%b %d %Y') %>
            </td>
            <td class="px-6 py-4">
              &pound;<%= payment.amount %>
            </td>
            <td class="px-6 py-4">
              <%= payment.payment_method.humanize %>
            </td>
            <td class="px-6 py-4">
              <%= payment.month %>
            </td>
            <td class="px-6 py-4">
              <%= payment.year %>
            </td>
            <td class="px-6 py-4">
              <%= link_to "view", payment, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
