<!DOCTYPE html>
<html>
  <head>
    <title>RentalSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <div class="m-5">
        <%= render 'layouts/sidebar' %>
        <div class="sm:ml-64">
          <%= render 'layouts/notifications' %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= render 'layouts/notifications' %>
      <%= yield %>
    <% end %>
  </body>
</html>
